:root {
    --primary-color : #fff;
}

.btn {
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    font-size: 20px;
}

.btn--primary {
    background-color: var(--primary-color);
    color: #242424;
}

.btn--outline {
    background-color: transparent;
    color: var(--primary-color);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
}

.btn--large {
    padding: 12px 26px;
}

.btn--outline:hover {
    background-color: var(--primary-color);
    color: #242424;
}