:root {
    --main-height: calc(100svh - 5rem);
    --dynamic-height: calc(100vh - 5rem);
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.title {
    font-family: 'Permanent Marker', cursive !important;
}
#sous-title{
    font-family: 'Amatic SC', cursive;
}

.services,
.sign-up {
    display: flex;
    height: var(--dynamic-height);
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}


.form-container,
.services,
.sign-up,
.hero-container{
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        scale: 1.5;
        opacity: 0;
        filter: blur(5px);
    }
    to{
        scale: 1;
        opacity: 1;
        filter: blur(0);
    }
}

@media (prefers-reduced-motion) {
    .form-container,
    .services,
    .sign-up,
    .hero-container{
        animation: none;
    }

}

.services, .products, .sign-up {
    color: #fff;
}

.sign-up {
    background-image: url('./images/img-8.webp');
}
